label.url-overlay {
  padding: 4px 8px 4px 8px;
  outline-style: solid;
  outline-color: #555555;
  outline-width: 1px;
}

label.url-overlay:hover {
  opacity: 0;
}

label.url-overlay.left {
  border-radius: 0px 6px 0px 0px;
}

label.url-overlay.right {
  border-radius: 6px 0px 0px 0px;
}

label.url-overlay.hidden {
  opacity: 0;
}

label.size-overlay {
  padding: 4px 8px 4px 8px;
  border-radius: 6px 6px 6px 6px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: #555555;
}

label.size-overlay.hidden {
  opacity: 0;
}

window.ssd.no-border-radius {
  /* Without clearing the border radius, at least on Mutter with
   * gtk-titlebar=true and gtk-adwaita=false, there is some window artifacting
   * that this will mitigate.
   */
  border-radius: 0 0;
}

.transparent {
  background-color: transparent;
}

.terminal-window .notebook paned > separator {
  background-color: rgba(250, 250, 250, 1);
  background-clip: content-box;

  /* This works around the oversized drag area for the right side of GtkPaned.
   *
   * Upstream Gtk issue:
   * https://gitlab.gnome.org/GNOME/gtk/-/issues/4484#note_2362002
   *
   * Ghostty issue:
   * https://github.com/ghostty-org/ghostty/issues/3020
   *
   * Without this, it's not possible to select the first character on the
   * right-hand side of a split.
   */
  margin: 0;
  padding: 0;
}

.clipboard-overlay {
  border-radius: 10px;
}

.clipboard-content-view {
  filter: blur(0px);
  transition: filter 0.3s ease;
  border-radius: 10px;
}

.clipboard-content-view.blurred {
  filter: blur(5px);
}

.command-palette-search {
  font-size: 1.25rem;
  padding: 4px;
  -gtk-icon-size: 20px;
}

.command-palette-search > image:first-child {
  margin-left: 8px;
  margin-right: 4px;
}

.command-palette-search > image:last-child {
  margin-left: 4px;
  margin-right: 8px;
}
